/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.Jcrop
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
 */

@import "font-awesome";

// required to allow jcrop review work with bootstrap
.jcrop img {max-width: none}

#error_explanation {
  color: #b94a48;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
	color: #b94a48;
	input {
		border-color: #b94a48;
	}
 }

.container {
	max-width: 940px;
}

footer {
	border-top: solid #e4e4e2 1px;
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 25px;
	width: 100%; 
	
	td {
		vertical-align: top;
	}
	
	td:not(:last-child) {
		padding-right: 25px;
	}
	
	ul {
		list-style: none;
		margin-left: 0px;
	}
	
}

.more-categories {
	border-top: solid #e4e4e2 1px;
	
	h4{
		text-align: center;
	}
	ul {
		text-align: center;
		list-style: none;
		margin: 0px;
		
		li {
			display: inline;
		}
		
		li:not(:last-child) {
			padding-right: 20px;
		}
	}
}

.buy-now h3 {
	display: inline;
}

.buy-now a {
	float: right;
	margin-top: 7px;
}

.right {
	float: right;
}

.color-green {
	color: green;
}

.color-red {
	color: red;
}

.review {
	border: solid #e4e4e2 1px;
	border-radius: 3px;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
	margin-bottom: 15px;
}

.review-header {
	border-bottom: solid #e4e4e2 1px;
	padding: 10px;
}

.reviewed-by {
	display: inline;
}

.comments {
	padding: 10px;
}

.display-address p {
 margin-bottom: 0px;
}

.inline {
	display: inline;
}

.required-field {
	color: #b94a48;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
}
