footer {
	border-top: solid #e4e4e2 1px;
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 25px;
	width: 100%; 
	
	td {
		vertical-align: top;
	}
	
	td:not(:last-child) {
		padding-right: 25px;
	}
	
	ul {
		list-style: none;
		margin-left: 0px;
	}
	
	a:hover {
		text-decoration: none;
	}
	
}